@using FormFactory
@using FormFactory.RazorEngine
@using FormFactory.Example.Controllers
@using FormFactory.Example.Models
@{
    ViewBag.Title = "FormFactory Examples";
}
 
<div class="row">
    <div class="span5">
        <form>
        @{
            var me = new Person(DateTime.Parse("22 Dec 1981"), "Fishing,Fighting".Split(',')) { Name = "Harry" };
            @Html.Raw(FormFactory.RazorEngine.Properties.For(me).Render());
        }
        <input type="submit" value="submit" />
        </form>
    </div>
</div>
