@using FormFactory
@using FormFactory.Example.Controllers
@using FormFactory.Example.Models

@{
    ViewBag.Title = "Register";
    ViewBag.FormClass = "form-horizontal";
}

<h2>Create a New Account</h2>
<p>
    Use the form below to create a new account. 
</p>

@using(var form = Html.FormForAction((AccountController ctlr, RegisterModel model, string s) => ctlr.Register(model, s)))
{
    form.Render();
}