@using FormFactory
@using FormFactory.Example.Controllers
@using FormFactory.Example.Models
@{
    ViewBag.Title = "Account details";
}

<h2>Account details</h2>

<p>
    Use the form below to update your account details. 
</p>

@using (var form = Html.FormForAction((AccountController ctlr, AccountModel model) => ctlr.Update(model)))
{
    form.Render();
}