<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmbeddedResourceVirtualPathProvider" version="1.2.16" targetFramework="net40" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="FormFactory" version="1.0.4319.27059" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery" version="1.4.4" />
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="jquery.datatables" version="1.8.2" />
  <package id="jQuery.Migrate" version="1.1.0" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.UI.Combined" version="1.10.0" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="1.7" />
  <package id="Mvc.JQuery.Datatables" version="1.0.4288.24925" />
  <package id="Mvc4Futures" version="4.0.20710.0" targetFramework="net40" />
  <package id="PrecompiledMvcViewEngine" version="1.1.5" />
  <package id="Prettify" version="1.1.6.2011" />
  <package id="RazorEngine" version="3.2.0" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="3.0.0" targetFramework="net40" />
  <package id="WebActivator" version="1.4.3" />
</packages>