@using FormFactory.Attributes
@using FormFactory
@using System
@model FormFactory.PropertyVm

@{
    var dateAttr = Model.GetCustomAttributes().Where(a => a is DateAttribute || a is DateTimeAttribute).FirstOrDefault()
                   ?? new DateTimeAttribute();
    var isDate = dateAttr == DateAttribute;
    var displayFormatAttribute = Model.GetCustomAttributes().OfType<DisplayFormatAttribute>().SingleOrDefault();
    var stringFormat = (displayFormatAttribute != null ? displayFormatAttribute.DataFormatString : null) ?? (isDate ? "dd MMM yyyy" : "g");
    var valueAsString = Model.Value is string ? (Model.Value as string) : Model.Value as DateTime? == null ? "" : ((DateTime?)Model.Value).Value.ToString(stringFormat);
}
<div>@valueAsString</div>
