@using FormFactory
@model FormVm
<form action="@Model.ActionUrl" method="post" enctype="multipart/form-data" encoding="multipart/form-data" class="@ViewBag.FormClass">
@if (!ViewData.ModelState.IsValid && Model.ShowValidationSummary)
{
    <div class="alert-message block-message error">
        Sorry, there were some problems. Please correct them and try again.<br />
        @Html.ValidationSummary(Model.ExcludePropertyErrorsFromValidationSummary)
    </div>
}
<fieldset>
