@using FormFactory
@model PropertyVm
@if (!Model.IsWritable)
{ <span class="input-large uneditable-input">@Model.Value</span> }
else
{
    <input class="input-large" id="@Model.Id" name="@Model.Name" size="30" type="text" value="@(Model.Value ?? "")" />
}
