@using FormFactory
@model PropertyVm
@using System.Collections
@using FormFactory
 
@if (Model.Choices != null && Model.IsWritable)
{
    <ul>
        @foreach (var choice in Model.Choices)
        {
            <li>
                <input type="radio" class="choice-selector" name="@(Model.Name)_ModelTypeName_radios"/>
                @{ Html.PropertiesFor(choice).Each(p => p.Name = Model.Name + "." + p.Name).Render(); }
            </li>
        }
    </ul>
}
else
{
    Html.PropertiesFor(Model).Render();
}
