ul.ff-property-choices {
    list-style: none;
}
li.ff-choice-area > div > div{
    display: inline-block;
}

li.ff-choice-area > div 
{
    display: inline-block;
    border-bottom: 1px solid gainsboro;
    width: 100%;
}

.choice-selector 
{
    vertical-align: top;
}