ul.ff-choices {
    list-style: none;
    display: inline-block;
}
li.ff-choices > div > div{
    display: inline-block;
}

li.ff-choices > div 
{
    display: inline-block;
    
    width: 100%;
}

.choice-selector 
{
    vertical-align: top;
}
.bottom-separated {
    border-bottom: 1px solid gainsboro;
}