@using FormFactory
@model PropertyVm
<ul>
    @{
        var i = 0;

        foreach (var obj in (IEnumerable<object>)Model.Value)
        {
        <li>
            @{
            var prop = new PropertyVm(Html, obj.GetType(), Model.Name + i)
            {
                Value = obj
            };
                @Html.BestProperty(prop)
            }
        </li>
        }
    }
</ul>
